@import url('https://fonts.cdnfonts.com/css/creato-display');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    max-width: 100%;
    overflow-x: hidden;
}

:root {
    --loginbg: #EEEEEE;
    --buttonsColor: #F75A0B;
    --border: none;
    --color: #fff;
    --color1: #000;
    --colorBlue: #00388B;
    --colorGray: #484848;
    --lightblue: #D9E1EE;
    --gray: #D9D9D9;
    --grayorange: #F0C3AD;
<<<<<<< HEAD
    --bg3:#00193F;
=======
>>>>>>> 50213c30cfb6d250708909bbf7944602a97ce414
}

body {
    font-family: 'Creato Display', sans-serif;

}

/* navbar */
nav {
    display: flex;
    height: 60px;
    width: 100%;
    background: var(--color);
    border-bottom: 1px solid var(--color);
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    position: fixed;
    z-index: 1000;
}

nav .logo {
    color: var(--color1);
    font-size: 25px;
    font-weight: 600;
}

.logo img {
    width: 62px;
    height: 28px;
    flex-shrink: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--color1);
    text-decoration: none;
    font-size: 15px;
    padding: 5px 0px;
    transition: all 0.3s ease;
    position: relative;
}

.signin-btn a {
    color: var(--color) !important;
}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    height: 3px;
    width: 100%;
    background: var(--blu);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s linear;

}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}




nav .menu-btn i {
    color: var(--color1);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.signin-btn {
    width: 60px;
    height: 27px;
    background-color: var(--buttonsColor);
    color: var(--color) !important;
    border: var(--border);
}



/* home page */



.home-banner {
    padding-top: 60px;
}

.home-banner img {
    width: 100%;
    height: 100vh;
    position: relative;
}

.banner-text {
    display: grid;
    justify-content: center;
    position: absolute;
    /* top: 214px;
    left: 346px; */
    transform: translate(60%, -180%);
    color: var(--color);
    text-align: center;

}

.bannertext-content {
    display: grid;
    gap: 55px;
}

.home-text1 {
    display: grid;
    gap: 23px;
}

.banner-text h1 {
    font-size: 50px;
}

.bannertext-content {
    font-size: 18px;
}

.home-btn1 {
    width: 221px;
    height: 61px;
    background-color: var(--colorBlue);
    color: var(--color);
    border: var(--border);
    font-size: 24px;
    font-weight: bold;
}

/* .home-btn1:hover{
    background-color: var(--buttonsColor);
} */

.board {
    width: 894px;
    height: 221px;
    background-color: var(--color);
    border-radius: 5px;
    border-bottom: 5px solid var(--buttonsColor);
    position: absolute;
    top: 570px;
    left: 230px;
}

.board-img img {
    width: 59.04px;
    height: 59.04px;
}

.board-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
<<<<<<< HEAD

=======
    flex-wrap: wrap !important;
>>>>>>> 50213c30cfb6d250708909bbf7944602a97ce414
}

.board-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    text-align: center;
}

.board-img h2 {
    text-align: center;
    font-size: 20px;
}

.home-space {
    display: grid;
    gap: 40px;
    padding: 32px 0px;
}

.none {
    display: none;
}

/* home-about */
.home-about {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    gap: 87px;
    flex-wrap: wrap;
    align-items: center;
}

.partners {
    width: 100%;
    height: 128px;
    background-color: var(--gray);
    margin-top: 98px;
}

.partners-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 77px;
    padding: 30px 0px;
}

<<<<<<< HEAD
.max-width {
    width: 70%;
    height: 128px;
    /* background-color: var(--gray); */
}

=======
>>>>>>> 50213c30cfb6d250708909bbf7944602a97ce414
.explore-service {
    margin-top: 110px;
}

.explore-service1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 626px;
}

.ptag {
    display: flex;
    justify-content: center;
    gap: 100px;
<<<<<<< HEAD
    flex-wrap: wrap;
=======
>>>>>>> 50213c30cfb6d250708909bbf7944602a97ce414
}

.explore-text {
    display: grid;
    gap: 19px;
}

.explore-service1 button {
    width: 124px;
    height: 46px;
    background-color: var(--colorBlue);
    border: var(--border);
    color: var(--color);
    font-weight: bold;
    font-size: 16px;
}

.explore-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.explore-card-content {
    padding-top: 56px;
    padding-left: 20px;
    display: grid;
    gap: 8px;
}

.explore-card-text {
    display: grid;
    gap: 18px;
}

.explore-card-text p {
    line-height: 20px;
    font-size: 15px;
}

.explore-card {
    width: 350px;
    height: 310px;
    background-color: var(--colorBlue);
}

.bg-white {
    background-color: var(--color) !important;
    border-bottom: 5px solid var(--grayorange);
    box-shadow: 9px 9px 9px 9px #00000012;
}

.black {
    color: var(--color1) !important;
}

.explore-container {
    display: grid;
    gap: 42px;
}

/* contact section */
.contact-part {
    margin-top: 120px;
}

.tracking {
    display: flex;
    align-items: center;
    gap: 4px;
}

.home-text-icon {
    display: flex;
    align-items: center;
    gap: 93px;
}

.home-icons {
    display: grid;
    gap: 28px;
}

.btn-home1 {
    width: 157.44px;
    height: 46px;
    background-color: var(--colorBlue);
    color: var(--color);
    font-size: 16px;
    font-weight: bold;
    border: var(--border);
}

.home-about-text {
    display: grid;
    gap: 22px;
}

.home-p {
    font-size: 24px;
    font-weight: bold;
    color: var(--colorBlue);
}

/* track section */
<<<<<<< HEAD
.track-section {
    display: grid;
    justify-content: center;
    margin-top: 120px;
=======
.track-section{
    display: grid;
    justify-content: center;
    margin-top: 120px;
   
}
.track-board {
    width: 894px;
    height: 273px;
    background-color: var(--colorBlue);
    border-radius: 17px;
    position: relative;
}
>>>>>>> 50213c30cfb6d250708909bbf7944602a97ce414

}

.track-board {
    width: 894px;
    height: 273px;
    background-color: var(--colorBlue);
    border-radius: 17px;
    position: relative;
}

.track-input input {
    width: 444px;
    height: 53px;
    border-radius: 12px;
}

.track-input button {
    width: 95px;
    height: 53px;
    border-radius: 0px 12px 12px 0px;
    background-color: var(--buttonsColor);
    color: var(--color) !important;
    border: var(--border);
    margin-left: -90px;
}
.track{
    line-height:35px;
    font-size: 32px;
    font-weight: bold;
}
.track-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31px;
    flex-wrap: wrap;
    margin-top: 89px;
}
.track-text{
    display: grid;
    gap: 1px;
}

.track-text p{
    font-size: 15px;
}
.track-img{
    position: absolute;
    bottom: -20px;
    left:-40px !important;
}

/* footer */
.footer{
    width:100%;
    height: 495px;
    background-color:var(--bg3);
    margin-top: 120px;
}
.footer-flex1{
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-top: 117px;
    gap: 233px;
    flex-wrap: wrap;
}
.footer-text h1{
    font-size: 24px;
}
.footer-text p{
    font-size: 15px;
    color: var(--color);
}
.line-container{
    display: grid;
    justify-content: center;
    gap:7px;
}
.our-company{
    display:grid;
    gap: 53px;
}
.service22{
    display:grid;
    gap: 26px;
}
.support{
    display:grid;
    gap:13px;
}
.c{
    display: flex;
    gap: 20px;
    align-items: center;

}
.footer-container{
    display: grid;
    gap: 129px;
}
.facebook-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 264px;
    flex-wrap: wrap;
}
.copy-line{
    width: 982px;
    height: 1px;
    background-color: var(--color) !important;
}
.hid{
    display: none;
}
/* login section */
.login {
    display: grid;
    justify-content: center;
    margin-top: 6vh;
    gap: 25px;

}

.login-text {
    text-align: center;
    display: grid;
    gap: 11px;
}

p {
    font-size: 13px;
}




.login-container,
.username,
.password {
    display: grid;
    gap: 5px;
}

input {
    width: 530.75px;
    height: 59.65px;
    background-color: var(--loginbg);
    border: var(--border);
}

.login-btn {
    display: grid;
    gap: 37px;
}

#logIn {
    width: 537.75px;
    height: 59.65px;
    background-color: var(--buttonsColor);
    color: var(--color);
    font-weight: bold;
    font-size: 20px;
    border: var(--border);
}

.sign-up {
    text-align: center;
    color: var(--colorGray);
}

span {
    color: var(--colorBlue);
}




input::placeholder {
    padding: 0px 10px;
}

.login-container {
    display: grid;
    gap: 30px;
}

.space {
    display: grid;
    gap: 50px;
}

.hide-password {
    width: 30px;
    margin-left: -40px;
}

.username,
.password {
    display: grid;
    gap: 15px;
}

#error {
    display: none;

}

#logNone {
    color: var(--color);
}

#logi {
    display: none;
    color: var(--color);
}

/* the contact section */
.overlay {
    width: 100%;
    height: 100vh !important;
    position: relative;
    background: url(./route/Group\ 12.png);
    background-repeat: no-repeat;
    /* top: 0; */
}

.contact-text {
    text-align: center;
    padding-top: 45vh;
    display: grid;
    gap: 18px;
    /* position: absolute; */
    top: 0;

    /* transform: translate(35%,-20%); */
}

.white {
    color: var(--color);
}

.contact-p {
    display: grid;
    gap: 10px;
}

.contact-text h1 {
    font-size: 45px;
    color: var(--color);
}

.contact {
    color: var(--buttonsColor);
}

.contact-text p {
    font-size: 18px;
    color: var(--color);
}

.blue {
    color: var(--colorBlue);
}

.orange {
    color: var(--buttonsColor);
}

.line {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.line1 {
    width: 29px;
    height: 5px;
    background-color: var(--color);
    border-radius: 30px;
}

.line2 {
    width: 14px;
    height: 5px;
    background-color: var(--buttonsColor);
    border-radius: 30px;
}

.call-icon {
    position: absolute;
    left: 150px !important;
}

/* .call-icon img{
    width: 40.79px;
    height: 53.28px;
} */
.email {
    display: flex;
    align-items: center;
    gap: 84px;
}

.email-details {
    display: flex;
    align-items: center;
    gap: 5px;
}

.call-details {
    display: flex;
    align-items: center;
    gap: 5px;
}

.call-icon1 {
    position: absolute;
    top: 190px;
    left: 1100px;
}

.form-name {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.form-name input {
    width: 190px;
    height: 82px;
    background-color: var(--lightblue);
    border-radius: 20px;
}

.subject input {
    width: 410px;
    height: 82px;
    background-color: var(--lightblue);
    border-radius: 20px;
}

.input-message input {
    width: 410px;
    height: 156px;
    background-color: var(--lightblue);
    border-radius: 20px;
}

.form-left {
    display: grid;
    gap: 19px;

}

.submit {
    background-color: var(--colorBlue);
    width: 130px;
    height: 49px;
    border-radius: 10px;
    font-size: 18px;
    border: var(--border);
    color: var(--color);
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 95px;
    gap: 180px;

}

.submit-btn {
    display: grid;
    justify-content: center;
}

.get {
    display: grid;
    gap: 26px;
}

.get h1 {
    font-size: 50px;
    font-weight: bold;
}

.get-h1 {
    display: flex;
    align-items: center;
}

.get p {
    font-size: 16px;
}

.get-img img {
    display: flex;
    position: absolute;
    left: 265px;
    bottom: -175px;
}

.contact-us {
    font-size: 16px;
    margin-top: -35px;
}

.bold {
    font-size: 16px;
    font-weight: bold;
}

.form-right {
    display: grid;
    gap: 24px;
}

.phone-details {
    display: grid;
    gap: 65px;
}

.space1 {
    display: grid;
    gap: 3px;
}

/* .section2{
    width: 100%;
    height: 100vh;
    background-color: var(--lightblue);
    margin-top: -60px;
} */

/* section3 */
.section3 {
    width: 100%;
    height: 80vh !important;
    background: url(./route/Group\ 15.png);
    background-repeat: no-repeat;
    margin-top: 50px;
}

.section3-text {
    display: grid;
    gap: 7px;
    padding: 0px 85px
}

.gap {
    display: grid;
    gap: 17px;
    margin-left: 52px;
}

.section3-text h1 {
    font-size: 45px;
    color: var(--color);
}

.section3-text h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--color);
}

.Experience {
    font-size: 15px;
    color: var(--color);
    line-height: 20px;
}

.delivery {
    display: flex;
    align-items: center;
    gap: 1px;
}

.fast-delivery {
    display: flex;
    align-items: center;
    gap: 1px;
}

.fast-delivery p {
    font-size: 12px;
    color: var(--color);
}

.contact-btn {
    background-color: transparent;
    border-radius: 10px;
    width: 221px;
    height: 44px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid var(--buttonsColor);
    color: var(--color);
}

.section3-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.section3-img img {
    width: 450px;
}

.logistics {
    font-size: 45px;
    color: var(--color);
}

.consult {
    font-size: 20px;
    font-weight: bold;
    color: var(--color);
}

.section4 {
    margin-top: 94px;
}

.section4-text h1 {
    color: #0043A7;
    font-family: Creato Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section4-text p {
    color: #000;
    font-family: Creato Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section4-text {
    margin: 0px 100px;
    display: grid;
    gap: 30px;
}

.card1 {
    display: flex;
    width: 460px;
    height: 287px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background-color: var(--colorBlue);
}

.card-text {
    padding: 20px 20px;
}

.card-text h1 {
    font-size: 35px;
    color: var(--color);
}

.card-text p {
    font-size: 22px;
    line-height: 35px;
    color: var(--color);
}

.section4-content {
    display: grid;
    gap: 45px;
}

.cards {
    margin-top: 5px;
}

.card2 {
    margin-top: 90px;
}

.office {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 100px;
}