* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

:root {
    --loginbg: #EEEEEE;
    --buttonsColor: #F75A0B;
    --border: none;
    --color: #fff;
    --color1: #000;
    --colorBlue: #00388B;
    --colorGray: #484848;
}

body {
    font-family: sans-serif;
}

.login {
    display: grid;
    justify-content: center;
    margin-top: 6vh;
    gap: 25px;
}
     .login-text {
        text-align: center;
        display: grid;
        gap: 11px;
     }
         p {
            font-size: 13px;
        }
    



.login-container,
.username,
.password {
    display: grid;
    gap: 5px;
}
     input {
        width: 530.75px;
        height: 59.65px;
        background-color: var(--loginbg);
        border: var(--border);
    }

    .login-btn {
        display: grid;
        gap: 37px;
    }

     button {
        width: 537.75px;
        height: 59.65px;
        background-color: var(--buttonsColor);
        color: var(--color);
        font-weight: bold;
        font-size: 20px;
        border: var(--border);
    }

     .sign-up {
        text-align: center;
        color: var(--colorGray);
     }
         span {
            color: var(--colorBlue);
        }
    



input::placeholder {
    padding: 0px 10px;
}

.login-container {
    display: grid;
    gap: 30px;
}

.space {
    display: grid;
    gap: 50px;
}
.hide-password{
    width: 30px;
    margin-left:-40px;
}

.username,
.password {
    display: grid;
    gap: 15px;
}

#error {
    display: none;
    
}

#logi {
    display: none;
    color: var(--color);
}


nav {
    background: var(--color);
    padding: 20px 80px;
    /* display: flex;
align-items: center;
justify-content: center;
gap:300px; */
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    cursor: pointer;
    margin: 0 15px;
}

nav ul li.items {
    position: relative;
    width: auto;
    padding: 5px 0;
    text-align: center;

}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    height: 3px;
    width: 70%;
    background: #ffb633;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s linear;

}

li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li.logo {
    flex: 1;
    color: var(--color1);
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
}

nav ul li a {
    color: var(--color1);
    font-size: 15px;
    text-decoration: none;
    transition: .4s;
}

nav ul li:hover a {
    color: #ffb633;
}

nav ul li i {
    font-size: 23px;
}

nav ul li.btn {
    display: none;
}

nav ul li.btn.hide i:before {
    content: '\f00d';
}

.navbtn {
    width: 69px;
    height: 27px;
    background-color: var(--buttonsColor);
    border: var(--border);
    color: var(--color);
}

